.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.auction-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}